/* ================= Equipo TalentoLab =============== */

.equipo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;    
}

.tarjeta-miembro {
    background-color: #f9f9f9;
    border: 4px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    padding: 20px;
    text-align: center;
}